<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.model.AnswerBoardDaoImpl">

	<select id="selectAllBoard" resultType="AnswerDto">
		SELECT SEQ, ID, TITLE, "REF", STEP, "DEPTH", DELFLAG, REGDATE
			FROM ANSWERBOARD a
				ORDER BY REF DESC, STEP ASC
	</select>
	
	<select id="selectDetailBoard" parameterType="AnswerDto" resultType="AnswerDto">
		SELECT SEQ, ID, TITLE, CONTENT, "REF", STEP, "DEPTH",
		DELFLAG, REGDATE
			FROM ANSWERBOARD a
				WHERE SEQ = #{seq}
	</select>
	
	<update id="replyUpdate" parameterType="AnswerDto">
		UPDATE ANSWERBOARD SET STEP = STEP+1 
 		WHERE REF = (SELECT REF FROM ANSWERBOARD a4 WHERE SEQ = #{seq})
 		AND STEP > (SELECT STEP FROM ANSWERBOARD a5 WHERE SEQ = #{seq})
	</update>
	
	<insert id="replyInsert" parameterType="AnswerDto">
	INSERT INTO ANSWERBOARD (SEQ, ID, TITLE, 
										  CONTENT, "REF", STEP,
										  "DEPTH")
                    VALUES(ANSWERBOARD_SEQ.NEXTVAL,#{id},
                    #{title}, #{content},
                    (SELECT REF FROM ANSWERBOARD a WHERE SEQ=#{seq}),
                    (SELECT STEP FROM ANSWERBOARD a2 WHERE SEQ=#{seq}+1),
                    (SELECT DEPTH FROM ANSWERBOARD a3 WHERE SEQ=#{seq}+1))
	</insert>
	
	<update id="deleteBoard" parameterType="java.lang.String">
		UPDATE ANSWERBOARD SET DELFLAG = 'Y' WHERE SEQ =#{seq}
	</update>
	
	<update id="modifyBoard" parameterType="java.util.Map">
		UPDATE ANSWERBOARD SET CONTENT =#{con} WHERE SEQ =#{seq}
	</update>
	
	<insert id="insertBoard" parameterType="AnswerDto">
		<selectKey keyProperty="seq" resultType="java.lang.Integer" order="BEFORE">
			SELECT ANSWERBOARD_SEQ.NEXTVAL AS SEQ FROM DUAL
		</selectKey>
		INSERT INTO ANSWERBOARD (SEQ, ID, TITLE,
												CONTENT, "REF", STEP,
												"DEPTH")
				VALUES(#{seq}, #{id}, #{title} ,#{content}, 
						(SELECT NVL(MAX(REF),0) +1 FROM ANSWERBOARD a), 0,
						'0')
	</insert>

</mapper>






