@charset "UTF-8";

#container{
	border: 8px solid #F08080;
	position: relative;
	margin: auto;
	
	width: 400px;
	height: 200px;
	
	padding: 50px;
	padding-top: 0px;
	
	top: 100px;
}

#title{
	text-align: center;
	
	font-size: 25px;
	font-weight: bold;
	
	margin-top: 10px;
	margin-bottom: 40px;
}

.inputWord{
	width: 100px;
	font-weight: bold;
	float: left;
	display: flex;
	justify-content: space-around;
}

input[type='text']{
	width: 70%;
	box-sizing: border-box;
}

#login{
	position: relative;
	margin: 10px auto;
	
	width: 100px;
	height: 40px;
	font-weight: bold;
}

#bottom>input{
	width: 100px;
}







